<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
    <header>
        <nav>
            <!-- Ganti "Home" dengan "About" atau tautan lain jika diinginkan -->
            <a href="{{ '/about' | relative_url }}" id="about-link">About Me</a>
            <a href="{{ '/skills' | relative_url }}" id="skills-link">Skills</a>
            <a href="{{ '/experience' | relative_url }}" id="experience-link">Experience</a>
            <a href="{{ '/contact' | relative_url }}" id="contact-link">Contact</a>
        </nav>
    </header>
    <main>
        <section>
            <h1 class="section-title">{{ page.title }}</h1>
            {{ content }}
        </section>
    </main>
</body>
</html>
