<!-- index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>

<body>
    <div class="container">
        <header>
            <nav>
                <a href="{{ '/' | relative_url }}" id="home-link">Home</a>
                <a href="{{ '/resume' | relative_url }}" id="resume-link">Resume</a>
                <a href="{{ '/contact' | relative_url }}" id="contact-link">Contact</a>
                <a href="{{ '/blog' | relative_url }}">Blog</a>
            </nav>
        </header>
        <main>
            <section>
                <h1 class="section-title">{{ page.title }}</h1>
                {{ content }}
            </section>
        </main>
    </div>
</body>

</html>